<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>

    <!--Boostrap 4-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/flatly/bootstrap.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'main.css') }}"
    />
  </head>
  <body>
    <main class="container p-4">
      <h1 class="text-center">Tasks App</h1>

      <div class="row mt-8">
        <div class="col-md-4 offset-md-4 my-auto">
          <div class="card">
            <div class="card-header">
              <form action="create_task" method="POST">
                <div class="form-group">
                  <input
                    type="text"
                    name="content"
                    placeholder="Task"
                    class="form-control"
                    autofocus
                    required
                  />
                </div>

                <button type="submit" class="btn btn-success btn-block">
                  Guardar
                </button>
              </form>
            </div>
            <div class="card-body">
              <ul class="list-group">
                {% for task in tasks %}
                <li class="list-group-item">
                  <span class="{% if task.done %}done{%endif%}">{{task.content}}</span>
                  <a href="/done/{{task.id}}" class="btn btn-success btn-sm">Done</a>
                  <a href="/delete/{{task.id}}" class="btn btn-danger btn-sm">Eliminar</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
